html, body {
    height: 100%;
}

.form-container {
    max-width: 350px;
    padding: 1rem;
}

a {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(176, 210, 255);
}